.container {
  margin: 3rem auto 0;
  display: flex;
  flex-wrap: wrap;

  ul {
    list-style-type: none;
    text-align: left;
    padding: 0;

    li {
      margin-top: 0.5rem
    }
  }
}

.card {
  padding: 2rem;
  width: 14rem;
  text-align: left;
}